<div class="container">
  <div class="row">
    <div class= "card-panel col s8 offset-s2 #fafafa grey lighten-5">
      <div class="row">
        <div class="col s10 offset-s1">
          <div class="row">
            <h5><i class="material-icons">person_add</i> SIGN UP</h5>
              <%= form_for(@user)  do |f| %>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.label :nickname %> <br />
              <%= f.text_field :nickname, autofocus: true, maxlength: "10" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.label :image,"ユーザー画像" %> <br /><br /><br />
              <%= f.file_field :image %>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <%= f.label :training,"好きなトレーニング" %><br />
              <%= f.select :training, User.trainings_i18n.invert, {}, placeholder: 0 %>
            </div>
          </div>

          <div class="row">
            <div class="col s4">
              <div class="actions">
                <a class="waves-effect waves-light btn"><%= f.submit "Update" %><i class="material-icons left">person_add</i></a>
              </div>
            </div>
          </div>
          <% end %>

      </div>
    </div>
  </div>
<div>
