<div class="container">
  <div class="row">
    <div class= "card-panel col s8 offset-s2 #fafafa grey lighten-5">
      <div class="row">
        <div class="col s10 offset-s1">
          <div class="row">
            <h5 class="col s10"><i class="material-icons">person</i>  LOG IN</h5>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.label :email %><br />
              <%= f.email_field :email %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="input-field col s4">
                <label>
                  <%= f.check_box :remember_me , id:"user_remember_me"%>
                  <span>Remember me</span>
                </label>
              </div>
            <% end -%>
          </div>
          <div class="row">
            <div class="actions col s4">
              <a class="waves-effect waves-light btn"><%= f.submit "Log in" %><i class="material-icons left">person</i></a>
            </div>
          </div>
          <% end %>
          <div class="row">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>