<!DOCTYPE html>
<html>
  <head>
    <title>Miniblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--レスポンシブデザインにするために追加-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->

    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>



  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="/tweets" class="brand-logo"><i class="material-icons">fitness_center</i>BIG3 For Taining</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
            <li><a href="/tweets/about">About</a></li>
            <li>好きなトレーニング：<%=current_user.training_i18n%></li>
            <li><a href="/users/<%=current_user.id%>"><%=current_user.nickname%>さん</a></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><a href="/tweets/new">投稿する</a></li>
        <% else %>
            <li><a href="/tweets/about">About</a></li>
            <li><%= link_to "ログイン",new_user_session_path, class: 'post' %></li>
            <li><%= link_to "新規ユーザー登録",new_user_registration_path, class: 'post'%></li>
        <% end %>
      </ul>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
